@import '../../variables.scss';

.monsters-wrapper {
  width: 95vw;
  height: 95vh;
  display: grid;
  grid-template-rows: 1fr minmax(min-content, 35%);
  justify-content: center;
  align-content: center;
  border: 5px solid $color-secondary;
  border-radius: 2rem;
  padding: 1rem;
  animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
