.image {
  height: 60vw;
  width: 60vw;
  position: absolute;
  transform: translate(-150%, 150%) rotateZ(45deg);
  animation: slideInMonster 2s cubic-bezier(0.79, 0.27, 0.86, 1.44) forwards;

  @media (min-width: 1024px) {
    height: 50vw;
    width: 50vw;
  }

  @media (min-width: 1600px) {
    height: 40vw;
    width: 40vw;
  }
}

.seledin {
  @extend .image;

  left: 30%;
  bottom: 0;
  z-index: 2;
  animation-delay: 1s;

  @media (min-width: 1024px) {
    left: 25%;
    bottom: -5%;
  }
}

.pinky {
  @extend .image;

  z-index: 4;
  bottom: -5%;
  left: -5%;
  animation-delay: 0.5s;
}

.yellow {
  @extend .image;

  z-index: 3;
  bottom: 10%;
  left: -5%;

  @media (min-width: 768px) {
    bottom: 15%;
  }
  @media (min-width: 1024px) {
    bottom: 25%;
  }
  @media (min-width: 1600px) {
    bottom: 35%;
  }
}

@keyframes slideInMonster {
  100% {
    transform: translate(-30%, 30%) rotateZ(45deg);
  }
}
