@import '../../variables.scss';

.btn {
  font-family: inherit;
  font-size: 1.6rem;
  letter-spacing: 2px;
  color: $color-secondary;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem;
  margin-bottom: 2rem;
  width: 70vw;
  max-width: 40rem;
  background-color: $color-light;
  border-radius: 20rem;
  border: 2px solid $color-primary;
  z-index: 10;
  cursor: pointer;
  transition: 0.25s;
  box-shadow: 0 5px 2px 0 gray;

  &:hover {
    background-color: $color-primary;
  }
  &:active {
    box-shadow: 0 2px 1px 0 gray;
  }

  &--bottom {
    margin-top: auto;
  }
}

.hero {
  &__header {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55vh;

    @media (min-width: 1024px) {
      height: 50vh;
    }

    @media (min-width: 1400px) {
      height: 45vh;
    }

    * {
      animation: slideInHero 1s cubic-bezier(0.79, 0.27, 0.86, 1.44) both;
    }

    button {
      animation-delay: 2.5s;
    }
  }

  &__heading {
    font-family: 'Luckiest Guy';
    font-size: 3.5rem;
    letter-spacing: 4px;
    color: $color-primary;
    margin: 5rem 0 2rem 0;
    z-index: 10;
    text-shadow: 0 1px 0 $color-dark, 0 2px 0 $color-dark, 0 3px 0 $color-dark,
      0 4px 0 $color-dark, 0 5px 0 $color-dark, 0 6px 0 transparent,
      0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent,
      0 10px 10px rgba($color-dark, 0.4);
    animation-delay: 1.5s;

    @media (min-width: 1024px) {
      font-size: 4rem;
      margin: 3rem 0;
      letter-spacing: 7px;
    }

    @media (min-width: 1400px) {
      font-size: 4.5rem;
      letter-spacing: 10px;
    }
    @media (min-width: 1600px) {
      font-size: 5rem;
      letter-spacing: 15px;
    }
  }

  &__subtext {
    font-size: 1.8rem;
    line-height: 1.5;
    padding: 2rem;
    color: $color-secondary;
    text-align: center;
    z-index: 10;
    animation-delay: 2s;

    @media (min-width: 1024px) {
      font-size: 2rem;
    }

    span {
      display: block;
    }
  }

  .faded {
    &--monsters {
      animation: slideOutMonster 2s cubic-bezier(0.15, -0.41, 0.17, 0.88)
        forwards;
    }

    &--hero {
      animation: slideOutHero 2s cubic-bezier(0.15, -0.41, 0.17, 0.88) forwards;
    }
  }
}

@keyframes slideInHero {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOutHero {
  0% {
    opacity: 1;
    transform: translateX(0rem);
  }

  100% {
    opacity: 0;
    transform: translateX(10rem);
  }
}
