.btn {
  display: inline-block;
  font-family: inherit;
  font-size: 1.6rem;
  letter-spacing: 2px;
  color: $color-secondary;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem;
  width: 70vw;
  max-width: 40rem;
  background-color: $color-light;
  border-radius: 20rem;
  border: 2px solid $color-primary;
  z-index: 10;
  cursor: pointer;

  &--bottom {
    margin-top: auto;
  }
}
